.Quize{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    padding-top: 50px;
    width: 100%;
    background: linear-gradient(90deg, #5041b2 0%, #7969e6 100%);
}


.Quize h1 {
    color: #fff
}